# mimics system:openshift:scc:anyuid clusterrole
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ etcd_backup_namespace }}-privileged
  namespace: {{ etcd_backup_namespace }}
rules:
  - apiGroups:
      - security.openshift.io
    resourceNames:
      - privileged
    resources:
      - securitycontextconstraints
    verbs:
      - use