apiVersion: authorization.openshift.io/v1
kind: RoleBinding
metadata:
  namespace: {{ etcd_backup_namespace }}
  name: {{ etcd_backup_namespace }}-privileged
  labels:
    app: {{ etcd_backup_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ etcd_backup_username }}
    namespace: {{ etcd_backup_namespace }}
roleRef:
  kind: Role
  name: {{ etcd_backup_namespace }}-privileged
  namespace: {{ etcd_backup_namespace }}
userNames:
  - {{ etcd_backup_serviceaccount }}
groupNames: []